<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner" style="padding-bottom: 20px;">
      <h1 class="project-name">Grupo de Inteligencia Artificial</h1>
      <h2 class="project-tagline">Facultad de Matemática y Computación | Universidad de La Habana</h2>

      <a href="./es" class="btn">🏠 Inicio</a>      
      <a href="./es/projects" class="btn">🎨 Proyectos</a>
      <a href="./es/research" class="btn">⚗️ Investigación</a>
      <a href="./es/papers" class="btn">📃 Publicaciones</a>
      <a href="./es/resources" class="btn">🛠️ Recursos</a>
      <a href="./en" class="btn">🇬🇧 In English</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Hecho con ❤️ por <a href="https://github.com/gia-uh">GIA-UH</a> en <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
